@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

body {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb {
    background: rgb(88, 88, 88);
    border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(81, 81, 81);
}

/* Navbar */
.navbar-toggler {
    border: none;
    border-radius: 0;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.btn-close:focus {
    outline: 0;
    box-shadow: none;
}

#user{display: none;}

/* Hero Section */
#hero {
    background-image: url(../IMGS/hero4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#hero button {
    background-image: url(../IMGS/button.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
    background-color: transparent;
    border: none;
    padding: 14px 88px 14px 65px;
    cursor: pointer;
    font-weight: 700;
}

/* Features Section */
#features .f-card {
    /* width: 180px; */
    transition: 0.3s all linear;
}

#features .f-card:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


/* Media Querys */
/* Small devices (Phone , 220px and up) */
@media (min-width: 220px) and (max-width: 575px) {
    #hero button {
        padding: 7px 34px 6px 34px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {
    #hero button {
        padding: 7px 34px 6px 34px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1599px) {}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}